.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  padding: 20px;
}

.light * {
  background-color: #e8e8e8;
  color: black;
  border-color: rgba(0, 0, 0, 0.2);
}

.dark * {
  background-color: #1e1e1e;
  color: white;
  border-color: rgba(255, 255, 255, 0.2);
}
